.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
    gap: 10px;
}

.movies h4 {
    width: 100%;
    text-align: center;
    color: #888;
    font-size: 20px;
    padding: 40px 0;
    font-weight: normal;
}